.item {
    padding-bottom: 10px;

}

.item:last-of-type {
}

.users {
    display: grid;
    grid-template-rows: 30px 270px;

}

.buttonsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    justify-items: end;
    gap: 20px;

}

.age{
    font-weight: 500;
}

.container {
    width: 606px;
    display: grid;
    grid-template-rows: 50px 300px;
}

.thead {
    background-color: gray;
    font-weight: 700;

}
tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

td {
    padding-right: 100px;
}

.nameCol {
}

.ageCol {
}